.alert-own {
    border: none;
    width: 400px;
    color: #f9fcfb;
    padding: 10px;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-700%);
    z-index: 7;
    -webkit-box-shadow: 0 0 1.25rem rgba(0,0,0,0.75);
    -moz-box-shadow: 0 0 1.25rem rgba(0,0,0,0.75);
    box-shadow: 0 0 1.25rem rgba(0,0,0,0.75);
}
.alert-own-success{
    background: #0c9463;
}
.alert-own-fail {
    background: #c72c41;
}
.alert-own-info {
    background: #005082;
}
.alert-own-warning {
    background: #f0a500;
}

.invalid {
    border-color: #fd5e53;
    color: #fd5e53;
}
@media (max-width: 700px){
    .alert-own {
        transform: translate(-50%,-500%);
        width: 80%;
        text-overflow: wrap;
    }
}