{%extends 'users/nav.html' %}
{% load static %}
{% load crispy_forms_tags%}
{%block estyle%}
	<link rel="stylesheet" type="text/css" href="{% static 'users/adduser.css'%}">
{%endblock%}
{%block econtent%}
	<small>Format Should be " {{format}} " - First line of file should contain the format</small>
	<form method="post" enctype="multipart/form-data">{%csrf_token%}
		<label>Upload Data File(.csv)</label><br>
		<input type="file" name="file"><br><br>
		<button type="submit" class="btn btn-info">Create</button>
	</form>
{%endblock%}